[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/nilsjennissen/r-handbook/blob/main/notebooks/r-notebook.ipynb)

# Running R in a Jupyter notebook
We can use R Language in a Jupyter notebook. This is a great way to combine R and Python in one notebook.

In [ ]:
# Installing pacakges
install.packages("gapminder")

In [ ]:
# Load libraries
library(reshape)
library(gapminder)
library(dplyr)
library(ggplot2)

## Load data

In [ ]:
# Loading the gapminder dataset from the gapminder package
data(gapminder)

In [ ]:
head(gapminder)

## Initial data analysis for the Gapminder dataset
Let's try some functions to get a better understanding of the data.

In [14]:
# What is the shape of the dataset?

[1] 1704    6

In [15]:
# What are the column names?

[1] "country"   "continent" "year"      "lifeExp"   "pop"       "gdpPercap"

In [16]:
# What are the data types?

tibble [1,704 × 6] (S3: tbl_df/tbl/data.frame)
 $ country  : Factor w/ 142 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ continent: Factor w/ 5 levels "Africa","Americas",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ year     : int [1:1704] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 ...
 $ lifeExp  : num [1:1704] 28.8 30.3 32 34 36.1 ...
 $ pop      : int [1:1704] 8425333 9240934 10267083 11537966 13079460 14880372 12881816 13867957 16317921 22227415 ...
 $ gdpPercap: num [1:1704] 779 821 853 836 740 ...

In [17]:
# What are the first 6 rows?

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

In [18]:
# What are the last 6 rows?

  country  continent year lifeExp pop      gdpPercap
1 Zimbabwe Africa    1982 60.363   7636524 788.8550
2 Zimbabwe Africa    1987 62.351   9216418 706.1573
3 Zimbabwe Africa    1992 60.377  10704340 693.4208
4 Zimbabwe Africa    1997 46.809  11404948 792.4500
5 Zimbabwe Africa    2002 39.989  11926563 672.0386
6 Zimbabwe Africa    2007 43.487  12311143 469.7093

In [26]:
# Return unique values for column year

 [1] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007

In [27]:
# How are the variables lifeExp, pop and gdpPercap related?

          lifeExp    pop         gdpPercap
lifeExp   1.00000000  0.06495537  0.58370622
pop       0.06495537  1.00000000 -0.02559958
gdpPercap 0.58370622 -0.02559958  1.00000000

In [29]:
# What are the summary statistics for the variable lifeExp?
summary(gapminder$lifeExp)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  23.60   48.20   60.71   59.47   70.85   82.60

## How can we get another angle at the data

In [2]:
# Visualization of the variable lifeExp over time
ggplot(gapminder, aes(x = year, y = lifeExp)) + geom_line()

ERROR: Error in gapminder %>% ggplot(aes(x = year, y = lifeExp, color = continent)): could not find function "%>%"

In [3]:
# Visualize

ERROR: Error in radiant(): could not find function "radiant"